.a1 {
	#about-header {
		position: absolute;
		opacity: 1;
		text-align: center;
		max-width: 65vw;
		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 8.5vmin;
		}
		h2 {
			font-size: 4vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
}
.a2,
.a3,
.a4,
.a5 {
	#about-header {
		opacity: 1;
		text-align: center;
		max-width: 65vw;
		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 8.5vmin;
		}
		h2 {
			font-size: 4vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
}

.about-container {
	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://res.cloudinary.com/dolzsmsak/image/upload/c_scale,w_776/v1610934857/nucalm/about_gloves_1_hmen1q.jpg);
		opacity: 0.45;
		background-position: 0 75%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.a3:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/About/Images/about+climb+2.jpg);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.a-contact:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/About/Images/about+volleyball.jpg);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
