article {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	* {
		z-index: 100;
	}
}

.a1,
.a2,
.a3,
.a4,
.a5 {
	#about-header {
		opacity: 1;
		text-align: center;
		padding: 2%;
		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 8.5vmin;
		}
		h2 {
			font-size: 4vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
}

.a1:before,
.a2:before,
.a3:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: url(../../Component-Images/NYC_Skyline.png);
	opacity: 0.45;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
