

article {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	// max-height: 80vh;

	* {
		z-index: 100;
	}
}

.a1,
.a2,
.a3,
.a4,
.a5 {
	div {
		opacity: 0.45;
		text-align: center;
		transition: 1s;
		padding: 2%;
		h1,
		h2 {
			font-weight: 200;
		}
		h1 {
			font-size: 9.5vmin;
		}
		h2 {
			font-size: 4.25vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
	div:hover {
		opacity: 1;
	}
}

.a1:before,
.a2:before,
.a3:before,
.a4:before,
.a5:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: url(../../Component-Images/NYC_Skyline.png);
	opacity: 0.25;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
