/* HEADER SLIDE */
.a1 {
	#home-header {
		max-width: 70vw;
		position: absolute;

		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 9.5vmin;
		}
		h2 {
			font-size: 4.25vmin;
		}
	}
}

.scroll-down-text {
	position: absolute;
	bottom: 0;
	color: rgb(110, 117, 131);
	font-size: 3vmin;
	padding: 0.5%;
	background: black;
	border-radius: 1ch;
	letter-spacing: 0.25vmin;
}

/* SLIDES 2 THRU 5  */
.a2,
.a3,
.a4,
.a5 {
	#home-header {
		opacity: 0.5;
		transition: 1s;
		padding: 2%;
		max-width: 90vw;
		position: absolute;
		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 9.5vmin;
		}
		h2 {
			font-size: 4.25vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
	#home-header:hover {
		opacity: 1;
	}
}

.three-images-background {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0.65;

	* {
		border-radius: 50%;

		max-height: calc(100vw / 3);
	}
}

@media only screen and (max-width: 765px) {
	.three-images-background {
		display: grid;
	}
}
/* FULL PAGE & BACKGROUND IMAGE */
.home-container {
	.a-contact {
		:nth-child(2) {
			position: absolute;
			* {
				position: relative;
			}
			.success-msg {
				position: absolute;
				background: black;
				top: 0;
			}
		}
	}
	// .a1:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0px;
	// 	bottom: 0px;
	// 	left: 0px;

	// 	background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/Logos/aaron+chamber.png);
	// 	opacity: 1;
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// 	background-size: contain;
	// }
	// @media only screen and (max-height: 750px) {
	// 	.a1:before {
	// 		background-position: 0 15%;
	// 	}
	// }
	.a5:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url('https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Home/Images/side plank.jpg');
		// background: url('../../resized-images/side plank.jpg');

		opacity: 0.5;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
