/* SLIDES 2 THRU 5  */
.a2,
.a3,
.a4,
.a5 {
	#home-header {
		opacity: 0.5;
		transition: 1s;
		padding: 2%;
		max-width: 70vw;
		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 9.5vmin;
		}
		h2 {
			font-size: 4.25vmin;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
	#home-header:hover {
		opacity: 1;
	}
}

/* HEADER SLIDE */
.a1 {
	#home-header {
		max-width: 70vw;

		h1,
		h2 {
			font-weight: 200;
			text-align: center;
		}
		h1 {
			font-size: 9.5vmin;
		}
		h2 {
			font-size: 4.25vmin;
		}
	}
}
/* FULL PAGE & BACKGROUND IMAGE */
.home-container {
	.a1:before,
	.a2:before,
	.a3:before,
	.a4:before,
	.a5:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(../../Component-Images/NYC_Skyline.png);
		opacity: 0.25;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
