.a1 {
	#contact-header {
		position: absolute;
		opacity: 1;
		text-align: center;
		max-width: 100vw;
		h1 {
			font-weight: 200;
			font-size: 7.5vmin;
		}
	}
}

.contact-container {
	display: relative;
	.a-contact:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/Cache%2BContact/Images/pottery1.jpg);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
