.a1,
.a2,
.a3,
.a4,
.a5,
.a6 {
	#member-aaron-header {
		padding: 2% 0;
		max-width: 85vw;
		position: absolute;
		h1,
		h2 {
			text-align: center;
			font-weight: 200;
		}
		h1 {
			letter-spacing: 0;
			font-size: 6.5vmin;
		}
		h2 {
			font-size: 3.5vmin;
		}
		p {
			text-align: left;
			font-size: 2vmin;
		}
		.column-1 {
			column-count: 1;
			text-align: center;
		}
		.column-2 {
			column-count: 2;
			text-align: justify;
			column-gap: 10vw;
		}
		ul {
			column-count: 2;
			column-gap: 10vw;
			text-align: left;
			li {
				font-size: 2vmin;
				padding: 1% 0;
			}
		}
		.aaron-list {
			padding: 0 15%;
			column-count: 1;
		}
	}
}

.a3 {
	#member-aaron-header {
		* {
			text-align: left;
		}
	}
}

.a4 {
	#member-aaron-header {
		h1 {
			font-size: 5vmin;
		}
	}
}

.a7 {
	#member-aaron-header {
		padding: 0 4%;
		display: grid;
	}
}

.member-aaron-container {
	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/1600x1000/Members/Aaron/Images/Aaron_Profile.png);
		-webkit-mask-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.75)
		);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.a3:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/1600x1000/Members/Aaron/Images/Aaron_Stairs.png);
		-webkit-mask-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.75)
		);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.a4:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: linear-gradient(
			to top,
			rgba(164, 164, 164, 0.514) 0%,
			rgba(84, 84, 84, 0.269) 25%
		);
	}
	.a5:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: linear-gradient(
			to bottom,
			rgba(164, 164, 164, 0.514) 0%,
			rgba(84, 84, 84, 0.269) 25%
		);
	}
	.a6:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: linear-gradient(
			to bottom,
			rgba(97, 136, 220, 0.514) 0%,
			rgba(84, 84, 84, 0.269) 25%
		);
	}
	.a7:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/1600x1000/Members/members%202.png);
		opacity: 0.35;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.aaron-anchor {
	text-decoration: none;
	color: white;
	font-size: 2.5vmin;
	font-weight: 500;
	transition: 1s;
	text-align: center;
}
.aaron-anchor:hover {
	color: rgb(94, 124, 245);
}
