.a1,
.a2,
.a3,
.a4,
.a5,
.a6 {
	#member-john-header {
		padding: 2% 0;
		max-width: 85vw;
		h1,
		h2 {
			text-align: center;
			font-weight: 200;
		}
		h1 {
			letter-spacing: 0;
			font-size: 6.5vmin;
		}
		h2 {
			font-size: 3.5vmin;
		}
		p {
			text-align: left;
			font-size: 2vmin;
		}
		.column-1 {
			column-count: 1;
			text-align: center;
		}
		.column-2 {
			column-count: 2;
			text-align: justify;
			column-gap: 10vw;
		}
		ul {
			column-count: 2;
			column-gap: 10vw;
			text-align: left;
			li {
				font-size: 2vmin;
				padding: 1% 0;
			}
		}
	}
}

.a3 {
	&#member-john-header {
		* {
			text-align: left;
		}
	}
}

.a4 {
	#member-john-header {
		h1 {
			font-size: 5vmin;
		}
	}
}

.a5,
.a6 {
	#member-john-header {
		// display: grid;
		display: flex;
		flex-direction: column;
		place-items: center;
		grid-gap: 5%;
		h2 {
			font-size: 4vmin;
		}
	}
}

.john-anchor {
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: 1s;
}
.john-anchor:hover {
	color: rgb(94, 124, 245);
}

.member-john-container {
	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Members/JohnJoseph/John-Joseph-cred-Ray-Lego.jpg);
		opacity: 0.65;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (min-width: 1050px) {
		.a2:before {
			background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/1600x1000/Members/JohnJoseph/john-joseph-vegan-wellness-guru-01.jpg);
		}
	}
	@media only screen and (max-height: 700px) {
		.a2:before {
			background-position: 0 25%;
		}
	}
	.a3:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Members/JohnJoseph/John%20Joseph%20Profile.png);
		-webkit-mask-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.5)
		);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.a4:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/About/Images/about%20gloves%202.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		-webkit-mask-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.5)
		);
	}
	// .a4:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0px;
	// 	bottom: 0px;
	// 	left: 0px;

	// 	background: linear-gradient(
	// 		to top,
	// 		rgba(28, 91, 201, 0.514) 0%,
	// 		rgba(84, 84, 84, 0.269) 25%
	// 	);
	// }
	// .a5:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0px;
	// 	bottom: 0px;
	// 	left: 0px;

	// 	background: linear-gradient(
	// 		to bottom,
	// 		rgba(28, 91, 201, 0.514) 0%,
	// 		rgba(84, 84, 84, 0.269) 25%
	// 	);
	// }
	.a5:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: linear-gradient(
			to top,
			rgba(164, 164, 164, 0.514) 0%,
			rgba(99, 105, 138, 0.269) 25%
		);
	}

	.a6:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/Members/members+2.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		// -webkit-mask-image: linear-gradient(
		// 	to left,
		// 	rgba(0,0,0, 0.25),
		// 	rgba(0, 0, 0, 0.5)
		// );
		opacity: 0.35;
	}
}
