.a1,
.a2,
.a3 {
	#member-nick-header {
		display: grid;
		padding: 2% 0;
		max-width: 65vw;
		* {
			text-align: center;
		}
		h1,
		h2 {
			// text-align: center;
			font-weight: 200;
		}
		h1 {
			letter-spacing: 0;
			font-size: 6.5vmin;
		}
		h2 {
			font-size: 3vmin;
		}
		p {
			// text-align: left;
			font-size: 2.85vmin;
		}
		a {
			// text-align: center;
		}
		.column-1 {
			column-count: 1;
			// text-align: center;
		}
		.column-2 {
			column-count: 2;
			// text-align: justify;
			column-gap: 10vw;
		}
		ul {
			column-count: 2;
			column-gap: 10vw;
			text-align: left;
			li {
				font-size: 2vmin;
				padding: 1% 0;
			}
		}
		.nick-list {
			padding: 0 15%;
			column-count: 1;
		}
	}
}

.a2,
.a3 {
	#member-nick-header {
		p {
			// text-align: center;
		}
	}
}

.member-nick-container {
	.a1:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Members/NickPags/Nick%20Pags%20Profile.png);
		-webkit-mask-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.85),
			rgba(0, 0, 0, 1)
		);
		opacity: 0.8;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (min-width: 1000px) {
		.a1:before {
			background-position: 0 15%;
			background-size: cover;
		}
	}
	@media only screen and (max-height: 1000px) {
		.a1:before {
			background-position: 0 15%;
			background-size: cover;
		}
	}
	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/About/Images/about%20gloves%203.jpg);
		-webkit-mask-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.7)
		);
		// opacity: 0.3;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	// .a3:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0px;
	// 	bottom: 0px;
	// 	left: 0px;

	// 	background: linear-gradient(
	// 		to top,
	// 		rgba(164, 164, 164, 0.514) 0%,
	// 		rgba(99, 105, 138, 0.269) 25%
	// 	);
	// }
	.a3:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Members/members%202.png);
		opacity: 0.35;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.nick-anchor {
	text-decoration: none;
	color: white;
	font-size: 2.5vmin;
	font-weight: 500;
	transition: 1s;
}
.nick-anchor:hover {
	color: rgb(94, 124, 245);
}
