/* HEADER */
.a1,
.a2,
.a3,
.a4 {
	#members-header {
		opacity: 1;
		padding: 2% 0;
		h1,
		h2 {
			text-align: center;
			font-weight: 200;
		}
		h1 {
			letter-spacing: 0;
			font-size: 8.5vmin;
		}
		h2 {
			font-size: 3.5vmin;
		}
	}
}

/* SLIDE 2 HEADER */
.a2-header {
	&#members-header {
		h2 {
			font-size: 2.8vmin;
			padding: 0 2%;
		}
	}
}
/* PROFILE IMAGES */
.members-image-container {
	ul {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(auto-fit, minmax(15px, 2fr));
		grid-gap: 2rem;

		padding: 4% 2%;

		li {
			a {
				place-items: center;
				display: grid;
				position: relative;
				text-decoration: none;
				color: white;

				img {
					width: 100%;
					opacity: 1;
					transition: 2s;
				}
				p {
					text-align: center;
					position: absolute;
					font-size: 3vmin;
					font-weight: 200;
				}
			}

			a:hover {
				img {
					opacity: 0.5;
				}
			}
		}
	}
}
/* ARTICLE */
.a3-header,
.a4-header {
	&#members-header {
		padding: 20% 10%;
		h2 {
			text-align: center;
			font-size: 3vmin;
		}
		p {
			font-size: 2vmin;
			text-align: center;
		}
		.column-2 {
			column-count: 2;
			column-gap: 2.5em;
			text-align: left;
		}
	}
}
/* BACKGROUND IMAGE & SLIDE 1 */
.members-container {
	.a1:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(../../Component-Images/NYC_Skyline.png);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
