.a1,
.a2,
.a3 {
	#members-header {
		opacity: 1;
		padding: 2% 0;
		h1,
		h2 {
			text-align: center;
			font-weight: 200;
		}
		h1 {
			letter-spacing: 0;
			font-size: 8.5vmin;
		}
		h2 {
			font-size: 3.5vmin;
		}
	}
}

.a2-header {
	&#members-header {
		h2 {
			font-size: 3vmin;
		}
	}
}

.members-image-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 2rem;

	padding: 0 2%;
	position: relative;

	img {
		width: 100%;
		display: block;
		// transform: rotateX(180deg);
	}
	p {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 250px;
		width: 300px;
	}
}

// .a2-header,
// .a3-header {
// 	h2 {
// 		text-align: left;
// 	}
// }

.members-container {
	.a1:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(../../Component-Images/NYC_Skyline.png);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
