.a-contact {
	#contact-form-header {
		text-align: center;

		h1,
		h2 {
			font-weight: 200;
		}
		h1 {
			font-size: 15vmin;
		}
		h2 {
			font-size: 4vmin;
			margin: 0;
		}

		.contact-form-form {
			display: grid;
			place-content: center;
			width: 100%;

			padding-top: 5%;
			font-size: 2.5vmin;

			.contact-form-input-container {
				display: flex;
				justify-content: space-evenly;
			}
			@media only screen and (max-width: 765px) {
				.contact-form-input-container {
					display: grid;
				}
			}
			.contact-form-input-container > * {
				background: transparent;
				border: none;
				outline: none;
				height: 30px;
				text-align: left;
				border-bottom: 2px solid white;
				font-weight: 500;
				margin: 2vmin;
			}
			::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: white;
				font-weight: 800;
			}
			::-moz-placeholder {
				/* Firefox 19+ */
				color: white;
				font-weight: 800;
			}
			:-ms-input-placeholder {
				/* IE 10+ */
				color: white;
				font-weight: 800;
			}
			:-moz-placeholder {
				/* Firefox 18- */
				color: white;
				font-weight: 800;
			}
		}
		.checkbox-container {
			display: grid;
			place-items: center;
			text-align: center;
			padding: 2% 0;
		}
		.button-container {
			display: grid;
			place-items: center;
		}
		.submit-button {
			background: transparent;
			color: white;
			font-size: 3vmin;
			border: 2.5px solid white;
			border-radius: 1ch;
			padding: 2% 4%;
			height: 100%;
			// width: 100%;
			transition: 1s;
		}

		.submit-button:hover {
			background: rgb(14, 57, 133);
		}

		.submit-button:active {
			background: white;
			color: black;
		}
	}
}

.success-msg,
.error-msg {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 12.5%;
	border-radius: 2ch;
	padding: 1%;
}
.success-msg {
	color: rgb(126, 167, 218);
	border: 4px solid rgb(23, 199, 23);
}
.error-msg {
	color: rgb(159, 105, 105);
	border: 4px solid rgb(213, 58, 58);
}

@media only screen and (max-width: 1200px) {
	.contact-container h2 {
		font-size: 3vmin;
	}
}
