/* HEADER, MEDIA LOGOS LIST STYLE */
.a1,
.a2 {
	#media-header {
		opacity: 1;
		padding: 2%;
		h1,
		h2 {
			text-align: center;
		}
		h1 {
			font-weight: 200;
			letter-spacing: 0;
			font-size: 9.5vmin;
		}
		h2 {
			font-weight: 200;
			font-size: 4.5vmin;
		}
		ul {
			list-style: none;
			padding-top: 25px;

			display: flex;
			align-items: center;
			justify-content: space-evenly;
			list-style: none;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 2%;
				img {
					width: 100%;
					opacity: 1;
					background: color;
				}
			}
		}
	}
}

/* FULL PAGE & BACKGROUND IMAGE */
.media-container {
	.a1:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/Cache%2BContact/Images/media+1.png);
		opacity: 0.45;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://thechambercollective.s3.us-east-2.amazonaws.com/Members/members+2.png);
		opacity: 0.3;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
