/* HEADER, MEDIA LOGOS LIST STYLE */
.a1,
.a2 {
	#media-header {
		position: absolute;
		opacity: 1;
		padding: 2%;
		h1,
		h2 {
			text-align: center;
		}
		h1 {
			font-weight: 200;
			letter-spacing: 0;
			font-size: 9.5vmin;
		}
		h2 {
			font-weight: 200;
			font-size: 4.5vmin;
		}
		ul {
			list-style: none;
			padding: 0;
			// padding-top: 25px;

			display: flex;
			align-items: center;
			justify-content: space-evenly;
			list-style: none;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 2%;
				img {
					width: 100%;
					padding: 1px;
					// opacity: 0.65;
					outline: none;
					border-radius: 1ch;
					background:black;
					transition: 1s;
				}
				// img:hover {
				// 	opacity: 1;
				// }
			}
		}
	}
}

/* FULL PAGE & BACKGROUND IMAGE */
.media-container {
	.a1 {
		display: relative;
	}
	.a2:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Cache%2BContact/Images/media%201.png);
		opacity: 0.5;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.a-contact:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		background: url(https://d1amesytz4ny5q.cloudfront.net/fit-in/2000x1200/Cache%2BContact/Images/media%202.png);
		opacity: 0.35;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
